* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Roboto", sans-serif;
}
.navbar ul {
  width: 100%;
  height: 50px;
  background-image: url(/project-portfolio-RandyOfosu/img/Galaxybrain.jpg);
  overflow: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.navbar a {
  padding: 15px;
  color: white;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition: 0.5s;
}
.navbar a:hover {
  background-color: black;
  transition: 0.5s;
}
.active {
  background-color: black;
}
footer a {
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
  color: black;
  text-align: center;
}
body {
  background-color: rgba(255, 186, 58, 0.29);
}
.introductie_paragraaf {
  padding: 20px;
  margin: 0% 30% 0% 30%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}
.introductie_koptekst {
  margin: 5% 30% 0% 31%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}

.foto_gallerij {
  display: inline-block;
  margin: 5% 12% 0% 25%;
}
.foto2 {
  width: 22%;
  padding: 5px;
}
.foto3 {
  width: 22%;
  padding: 5px;
}
.foto6 {
  width: 29.4%;
  padding: 5px;
}

#contactgegevens {
  border: none;
  width: 1000px;
  height: 500px;
  margin: 11% 10% 0% 20%;
  background-color: none;
  box-shadow: none -5px 5px 10px;
}
.headerText {
  margin: 5% 0% 0% 23%;
  font-size: 27px;
  font-family: "Roboto", sans-serif;
}

.contactbuttons {
  width: 300px;
  height: 100px;
  background-color: black;
  color: white;
  border: orange;
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  display: inline-block;
  box-shadow: brown -2px -1px 5px;
  margin: 1%;
  transition: 0.3s;
}
.contactbuttons:hover {
  width: 300px;
  height: 100px;
  background-color: rgba(255, 0, 111, 0.865);
  transition: 0.3s;
}
.contactbuttons1 {
  width: 300px;
  height: 100px;
  background-color: black;
  color: white;
  border: orange;
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  display: inline-block;
  box-shadow: brown -2px -1px 5px;
  margin: 1%;
  transition: 0.3s;
}
.contactbuttons1:hover {
  width: 300px;
  height: 100px;
  background-color: rgba(119, 0, 255, 0.865);
  transition: 0.3s;
}
.contactbuttons2 {
  width: 300px;
  height: 100px;
  background-color: black;
  color: white;
  border: orange;
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  display: inline-block;
  box-shadow: brown -2px -1px 5px;
  margin: 1%;
  transition: 0.3s;
}
.contactbuttons2:hover {
  width: 300px;
  height: 100px;
  background-color: rgba(0, 94, 177, 0.92);
  transition: 0.3s;
}
.contactbuttons3 {
  width: 300px;
  height: 100px;
  background-color: black;
  color: white;
  border: orange;
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  display: inline-block;
  box-shadow: brown -2px -1px 5px;
  margin: 1%;
  transition: 0.3s;
}
.contactbuttons3:hover {
  width: 300px;
  height: 100px;
  background-color: rgba(0, 195, 255, 0.865);
  transition: 0.3s;
}
.contactbuttons4 {
  width: 300px;
  height: 100px;
  background-color: black;
  color: white;
  border: orange;
  border-width: 0px 5px 5px 0px;
  border-style: solid;
  display: inline-block;
  box-shadow: brown -2px -1px 5px;
  margin: 1%;
  transition: 0.3s;
}
.contactbuttons4:hover {
  width: 300px;
  height: 100px;
  background-color: rgba(0, 199, 146, 0.865);
  transition: 0.3s;
}
#buttonText {
  text-align: center;
  position: relative;
  top: 34%;
}
#buttonText a {
  text-decoration: none;
  color: white;
}
#projectenContainer {
  height: 500px;
  width: 1500px;
  background-color: none;
  margin: 5% 10% 0% 5%;
}
.headerText1 {
  margin: 5% 10% 0% 25%;
  font-size: 27px;
  font-family: "Roboto", sans-serif;
}
#buttonText1 {
  text-align: center;
  position: relative;
  top: 50%;
  color: rgb(33, 33, 33);
}

.project-box {
  height: 500px;
  width: 450px;
  display: inline-block;
  margin: 0px 20px 0px 0px;
  opacity: 1;
  transition: 0.5s;
}

.project-box:hover {
  box-shadow: 11px 7px 10px;
  opacity: 1;
  transition: 0.3s;
}
#project1 {
  background-color: orange;
}
#project1:hover {
  background-image: url(/project-portfolio-RandyOfosu/img/mondriaan.png);
}
#project2 {
  background-color: rgb(159, 103, 0);
}
#project3 {
  background-color: rgb(108, 70, 0);
}
#project3:hover {
  background-image: url(/project-portfolio-RandyOfosu/img/vlaggen.png);
  opacity: 1;
}
#hobby {
  display: inline-block;
  margin: 25px;
}
#hobby1 {
  display: inline-block;
  margin: 25px;
}
#hobby2 {
  display: inline-block;
  margin: 25px;
}
.image {
  display: block;
}

.text {
  color: black;
  font-size: 20px;
}
.text a {
  text-decoration: none;
  color: black;
}
.statusbalk {
  background-color: rgba(0, 0, 0, 0.872);
  width: 1000px;
  height: auto;
  color: white;
  margin: 25px;
  font-size: 25px;
  box-shadow: black -1px -1px 5px;
  border-radius: 0px 15px 15px 0px;
}
.statusbalk_progress {
  background-color: black;
  background-image: url(/project-portfolio-RandyOfosu/img/Galaxybrain.jpg);
  border-radius: 0px 15px 15px 0px;
  padding: 5px;
}
#progress_container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 25px;
}
#statusbalk_naam {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
